.searchBar {
    padding:5px;
    border:1px solid #efefef;
    margin:5px;
}

.searchBar ul li {
    background-color: white;
    border: none;
    border-radius: 10px;
    color: skyblue;
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: none;
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
    width: 100%;
}